<section class="comment">
    <div class="title">
    </div>
    <div class="content">
        <p>
            {{comment_text}}
        </p>
        <br>
        <p> - <span>{{user.username}}, {{format_date date_created}}</span></p>
    </div>
</section>