<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Tech Blog</title>
        <link rel="stylesheet" href="/public/css/jass.css">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    {{#if logged_in}}
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/" id="logout">Logout</a></li>
                    {{else}}
                    <li><a href="/login">Dashboard</a></li>
                    <li><a href="/login">Login</a></li>
                    {{/if}}
                </ul>
            </nav>
            <h1><a href="/">The Tech Blog</a></h1>
        </header>

        <main>
            {{{ body }}}
        </main>

        {{#if logged_in}}
        <script src="/public/js/logout.js"></script>
        {{/if}}
    </body>

</html>