{{#if logged_in}}
<section class="new-post">
    <div class="form-title">
        <h2>Create New Post</h2>
    </div>
    <form class="forms" id="new-post-form">
        <label for="post-title">Title</label>
        <input class="form-input" type="text" id="post-title" />
        <label for="post-content">Content</label>
        <textarea class="textarea" id="post-content" name="post-content"></textarea>
        <button class="btns" id="create-btn" type="submit">Create</button>
    </form>
</section>
{{/if}}

<script src="/js/createPost.js"></script>