{{#each posts as |post|}}
<a class="post-btns" href="/post/{{id}}/modify">
    <h2 class="post-btns-title">{{title}}</h2>
    <h2 class="post-btns-date">{{format_date date_created}}</h2>
</a>
{{/each}}

<a href="/createPost"><button id="new-post-btn">+ New Post</button></a>