{{#each posts as |post|}}
<a href=""><button class="btns" id="post-btn" type="button"><span>{{title}}</span><span>{{format_date date_created}}</span></button></a>
{{/each}}

<a href="/createPost"><button id="new-post-btn">+ New Post</button></a>