<section>
    <h2>Login</h2>
    <form class="forms" id="login-form">
        <label for="username-login">Username</label>
        <input class="form-input" type="text" id="username-login" />
        <label for="password-login">Password</label>
        <input class="form-input" type="password" id="password-login" />
        <button class="btns" id="login-btn" type="submit">Login!</button>
    </form>
    <a href="/signup">Sign up instead</a>
</section>

<script src=""></script>